<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ block "title" . }}{{ partial "title.html" . }}{{ end }}</title>
  {{ partialCached "head/css.html" . }}
  <link rel="stylesheet" href="https://use.typekit.net/qtj0alg.css">
  <link rel="icon" type="image/svg" href="{{ "favicon.svg" | relURL }}">
</head>
<body>
  <select data-theme-picker name="themepicker" id="theme">
    <option value="🖥️">🖥️</option>
    <option value="☀️">☀️</option>
    <option value="🌙">🌙</option>
  </select>
  <header>
    {{ block "header" . }}
      {{ partial "header.html" . }}
    {{ end }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
