<div class="fixed">
  <!-- Display the site title and the current section -->
  {{ $sec := partial "sectionName.html" (dict "page" . "short" true) }}
  {{ $opdrachtTitle := .Title }}
  {{ with .Params.thema }}
    {{ if ne (trim . " ") "" }}
      {{ $opdrachtTitle = printf "%s: %s" . $.Title }}
    {{ end }}
  {{ end }}
  <h1>
    <span class="vaknaam">{{ $sec }}</span>
    {{ if and $opdrachtTitle (ne (trim $sec " \n\r\t") (trim $opdrachtTitle " \n\r\t")) (ne (trim $sec " \n\r\t") (trim .Title " \n\r\t")) }}
      <span class="opdrachtnaam">{{ $opdrachtTitle }}</span>
    {{ end }}
  </h1>
  {{ .TableOfContents }}
</div>